Source: man-db
Section: doc
Priority: important
Maintainer: Colin Watson <cjwatson@debian.org>
Standards-Version: 3.5.2
Build-Depends: bsdmainutils, debhelper (>= 3.0.0), flex, gettext, grap, groff, libdb2-dev (>= 2:2.7.7-2.2), lynx, vgrind

Package: man-db
Architecture: any
Depends: groff (>> 1.15-3.ja.3), bsdmainutils, debconf (>= 0.2.0), ${shlibs:Depends}
Provides: man, man-browser
Conflicts: man, suidmanager (<< 0.50)
Replaces: man, nlsutils
Description: Display the on-line manual.
 This package provides the man command. This utility is the primary
 way of examining the on-line help files (manual pages). Other utilities
 provided include the whatis and apropos commands for searching the
 manual page database, the manpath utility for determining the manual
 page search path, and the maintenance utilities mandb, catman and
 zsoelim. This package uses the groff suite of programs to format and
 display the manual pages.

