Source: man-db
Section: doc
Priority: important
Maintainer: Colin Watson <cjwatson@debian.org>
Standards-Version: 3.5.7
Build-Depends: debhelper (>= 3.0.0), flex, gettext, groff, libdb3-dev

Package: man-db
Architecture: any
Depends: groff-base (>= 1.17-2) | groff (>> 1.15-3.ja.3), bsdmainutils, debconf (>= 0.5), dpkg (>= 1.9.0), ${shlibs:Depends}
Suggests: groff, groff-x11
Provides: man, man-browser
Conflicts: man, suidmanager (<< 0.50)
Replaces: man, nlsutils
Description: The on-line manual pager
 This package provides the man command, the primary way of examining the
 on-line help files (manual pages). Other utilities provided include the
 whatis and apropos commands for searching the manual page database, the
 manpath utility for determining the manual page search path, and the
 maintenance utilities mandb, catman and zsoelim. man-db uses the groff
 suite of programs to format and display the manual pages.
