#! /usr/bin/make -f

# The name of the package
package = man-db
dtmp    = debian/$(package)

export DH_COMPAT=3

ifeq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
CFLAGS = -O2 -Wall
LDFLAGS = 
else
CFLAGS = -O2 -g -Wall
LDFLAGS = -g
endif

GNUmakefile:
# create the makefile needed both from build and clean rules
	touch configure stamp-h.in	# avoid autoconf build-dependency
	test -x configure || chmod +x configure 
	./configure --prefix=/usr --enable-mandirs=GNU --enable-setuid \
	            --with-db=db2 --with-device=latin1

build: build-stamp
build-stamp: GNUmakefile
# Builds the binary package.
	dh_testdir
	$(MAKE) CFLAGS="$(CFLAGS)" LDFLAGS="$(LDFLAGS)" \
		config_file=/etc/manpath.config
	$(MAKE) -C manual SOELIM=../zsoelim/zsoelim
	touch build-stamp

clean:
	dh_testdir
	touch configure stamp-h.in	# avoid autoconf build-dependency
	-$(MAKE) -i distclean
	-$(MAKE) -C manual -i distclean
	-rm -f build-stamp install-stamp man/index.*
	-rm -f */*.i
	dh_clean
	-cd po && rm -f stamp-cat-id cat-id-tbl.c man-db.pot

install: install-stamp
install-stamp: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install prefix=$(CURDIR)/$(dtmp)/usr \
			config_file=$(CURDIR)/$(dtmp)/etc/manpath.config
	# Debian man-db puts potentially setuid executables in a private
	# directory in order to do wrapper magic.
	mv $(dtmp)/usr/bin/man			$(dtmp)/usr/lib/man-db/man
	mv $(dtmp)/usr/bin/mandb		$(dtmp)/usr/lib/man-db/mandb
	install -m755 src/wrapper		$(dtmp)/usr/lib/man-db
	install -m755 tools/chconfig		$(dtmp)/usr/share/$(package)
	# now do manual changes needed by debian
	# change locale names
	mv $(dtmp)/usr/share/man/de_DE.88591	$(dtmp)/usr/share/man/de
	mv $(dtmp)/usr/share/man/es_ES.88591	$(dtmp)/usr/share/man/es
	mv $(dtmp)/usr/share/man/it_IT.88591	$(dtmp)/usr/share/man/it
	mv $(dtmp)/usr/share/man/ja_JP.eucJP	$(dtmp)/usr/share/man/ja
	rm -rf $(dtmp)/usr/share/man/de_DE.ascii
	touch install-stamp

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	install -m644 manual/man_db.cat \
		$(dtmp)/usr/share/doc/man-db/man-db-manual.txt
	dh_installexamples docs/manpage.example*
	install -m644 $(dtmp)/etc/manpath.config \
		$(dtmp)/usr/share/doc/$(package)/examples/manpath.config
	dh_installchangelogs docs/ChangeLog
	dh_installcron
	dh_installdebconf
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	chown man:root $(dtmp)/var/cache/man
	chmod 2755     $(dtmp)/var/cache/man
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

.PHONY: build clean install binary binary-arch binary-indep
